In [1]:
%%time
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns 
from scipy import stats
from sklearn.preprocessing import StandardScaler
import statsmodels
import numpy as np 
import matplotlib.gridspec as gridspec

CPU times: user 2.04 s, sys: 581 ms, total: 2.62 s
Wall time: 1.38 s

In [2]:
%%time
df = pd.read_csv("pp-partial-complete.csv")

CPU times: user 2.36 s, sys: 258 ms, total: 2.62 s
Wall time: 2.62 s

In [3]:
df

,{F887F88E-7D15-4415-804E-52EAC2F10958},70000,07/07/95 0:00,MK15 9HP,D,N,F,31,Unnamed: 8,ALDRICH DRIVE,WILLEN,MILTON KEYNES,MILTON KEYNES.1,MILTON KEYNES.2,A,A.1
0,{40FD4DF2-5362-407C-92BC-566E2CCE89E9},44500,03/02/95 0:00,SR6 0AQ,T,N,F,50,NaN,HOWICK PARK,SUNDERLAND,SUNDERLAND,SUNDERLAND,TYNE AND WEAR,A,A
1,{7A99F89E-7D81-4E45-ABD5-566E49A045EA},56500,13/01/95 0:00,CO6 1SQ,T,N,F,19,NaN,BRICK KILN CLOSE,COGGESHALL,COLCHESTER,BRAINTREE,ESSEX,A,A
2,{28225260-E61C-4E57-8B56-566E5285B1C1},58000,28/07/95 0:00,B90 4TG,T,N,F,37,NaN,RAINSBROOK DRIVE,SHIRLEY,SOLIHULL,SOLIHULL,WEST MIDLANDS,A,A
3,{444D34D7-9BA6-43A7-B695-4F48980E0176},51000,28/06/95 0:00,DY5 1SA,S,N,F,59,NaN,MERRY HILL,BRIERLEY HILL,BRIERLEY HILL,DUDLEY,WEST MIDLANDS,A,A
4,{AE76CAF1-F8CC-43F9-8F63-4F48A2857D41},17000,10/03/95 0:00,S65 1QJ,T,N,L,22,NaN,DENMAN STREET,ROTHERHAM,ROTHERHAM,ROTHERHAM,SOUTH YORKSHIRE,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004826,{EC1AD316-A622-420D-AB2A-67F1110B2549},67000,08/03/96 0:00,MK41 8AP,S,N,F,36,NaN,FOXLEASE,BEDFORD,BEDFORD,BEDFORD,BEDFORDSHIRE,A,A
1004827,{4D92D63F-9A76-4644-94D0-67F1152C92A5},177500,28/06/96 0:00,SW19 3AD,T,N,F,19,NaN,QUEENSLAND AVENUE,LONDON,LONDON,MERTON,GREATER LONDON,A,A
1004828,{170CE10A-899F-4A82-9C82-67F12FF36E5F},23000,19/09/96 0:00,M14 5SA,F,N,L,"MARTIN HOUSE, 4",FLAT 5,CONYNGHAM ROAD,MANCHESTER,MANCHESTER,MANCHESTER,GREATER MANCHESTER,A,A
1004829,{0B83F6EA-EB26-4807-8BBA-67F141F30EBA},36000,07/06/96 0:00,CB9 9EN,S,N,F,5,NaN,BRAMBLE CLOSE,HAVERHILL,HAVERHILL,ST EDMUNDSBURY,SUFFOLK,A,A
1004830,{950095C7-DFA7-48A1-907F-67F142BE035D},26350,28/06/96 0:00,HD4 7LZ,T,N,L,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.rename(columns = {"{5BBE9CB3-6332-4EB0-9CD3-8737CEA4A65A}": 'Transaction unique identifier',
                    "42000": "Price","1995-12-21 00:00":"Date of Transfer","NE4 9DN": "Postcode","S":"Property Type","N":"Old/New","F":"Duration",
                    "8":"PAON","Unnamed: 8":"SAON","MATFEN PLACE":"Street","FENHAM":"Locality","NEWCASTLE UPON TYNE":"Town/City",
                    "NEWCASTLE UPON TYNE.1":"District","TYNE AND WEAR":"County","A":"PPD Category Type","A.1":"Record Status - monthly file only"},inplace = True)

# Its ok to rename this column thats acutally part of the dataframe since this row is not part of South East England

In [5]:
df

,{F887F88E-7D15-4415-804E-52EAC2F10958},70000,07/07/95 0:00,MK15 9HP,D,Old/New,Duration,31,SAON,ALDRICH DRIVE,WILLEN,MILTON KEYNES,MILTON KEYNES.1,MILTON KEYNES.2,PPD Category Type,Record Status - monthly file only
0,{40FD4DF2-5362-407C-92BC-566E2CCE89E9},44500,03/02/95 0:00,SR6 0AQ,T,N,F,50,NaN,HOWICK PARK,SUNDERLAND,SUNDERLAND,SUNDERLAND,TYNE AND WEAR,A,A
1,{7A99F89E-7D81-4E45-ABD5-566E49A045EA},56500,13/01/95 0:00,CO6 1SQ,T,N,F,19,NaN,BRICK KILN CLOSE,COGGESHALL,COLCHESTER,BRAINTREE,ESSEX,A,A
2,{28225260-E61C-4E57-8B56-566E5285B1C1},58000,28/07/95 0:00,B90 4TG,T,N,F,37,NaN,RAINSBROOK DRIVE,SHIRLEY,SOLIHULL,SOLIHULL,WEST MIDLANDS,A,A
3,{444D34D7-9BA6-43A7-B695-4F48980E0176},51000,28/06/95 0:00,DY5 1SA,S,N,F,59,NaN,MERRY HILL,BRIERLEY HILL,BRIERLEY HILL,DUDLEY,WEST MIDLANDS,A,A
4,{AE76CAF1-F8CC-43F9-8F63-4F48A2857D41},17000,10/03/95 0:00,S65 1QJ,T,N,L,22,NaN,DENMAN STREET,ROTHERHAM,ROTHERHAM,ROTHERHAM,SOUTH YORKSHIRE,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004826,{EC1AD316-A622-420D-AB2A-67F1110B2549},67000,08/03/96 0:00,MK41 8AP,S,N,F,36,NaN,FOXLEASE,BEDFORD,BEDFORD,BEDFORD,BEDFORDSHIRE,A,A
1004827,{4D92D63F-9A76-4644-94D0-67F1152C92A5},177500,28/06/96 0:00,SW19 3AD,T,N,F,19,NaN,QUEENSLAND AVENUE,LONDON,LONDON,MERTON,GREATER LONDON,A,A
1004828,{170CE10A-899F-4A82-9C82-67F12FF36E5F},23000,19/09/96 0:00,M14 5SA,F,N,L,"MARTIN HOUSE, 4",FLAT 5,CONYNGHAM ROAD,MANCHESTER,MANCHESTER,MANCHESTER,GREATER MANCHESTER,A,A
1004829,{0B83F6EA-EB26-4807-8BBA-67F141F30EBA},36000,07/06/96 0:00,CB9 9EN,S,N,F,5,NaN,BRAMBLE CLOSE,HAVERHILL,HAVERHILL,ST EDMUNDSBURY,SUFFOLK,A,A
1004830,{950095C7-DFA7-48A1-907F-67F142BE035D},26350,28/06/96 0:00,HD4 7LZ,T,N,L,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
South_east = ['OXFORDSHIRE','BUCKINGHAMSHIRE','BERKSHIRE','SURREY','KENT','EAST SUSSEX','WEST SUSSEX','ISLE OF WIGHT','HAMPSHIRE']

In [7]:
# Dateset containing South East England only
mask = df['County'].isin(['OXFORDSHIRE','BUCKINGHAMSHIRE','BERKSHIRE','SURREY','KENT','EAST SUSSEX','WEST SUSSEX','ISLE OF WIGHT','HAMPSHIRE'])
df2 = df1.loc[mask]

KeyError: 'County'

In [ ]:
df2

In [ ]:
print("Skewness : %f" % df2['Price'].skew() )
print("Kurtosis : %f" % df2['Price'].kurt())

In [ ]:
df2['County'].value_counts()

In [ ]:
county_counts = df2['County'].value_counts()

# Calculate the percentage of each county
county_percentages = county_counts / len(df2) * 100

# Create a new DataFrame with the results
county_df = pd.DataFrame({
    'County': county_percentages.index,
    'Percentage of dataframe': county_percentages.values
})

# Print the new DataFrame
county_df

In [ ]:
county_df1 = df2.sort_values(by='Date of Transfer', ascending=False)

# Filter the DataFrame by county
county_df = county_df1[county_df1['County'] == 'BERKSHIRE']

# Select the latest data entry for the county
latest_entry = county_df.iloc[0]

latest_entry

As we can see, the latest data entry for Berkshire in the dataset was in 2004. For this reason it would be unreliable to continue including this in the data for prediciting housing prices using 'out of date' data as this would perform poorly on future house predictions. 

Therefore we will drop this county from the dataset.

In [ ]:
df2 = df2[df2['County'] != 'BERKSHIRE']

In [ ]:
# check that Berkshire has been removed
df2['County'].value_counts()

In [ ]:
sns.scatterplot(x = df2['Price'] , y = df2['Property Type'] ,hue =df2['Property Type'])

In [ ]:
df2.isnull().sum()

In [ ]:
total = df2.isnull().sum().sort_values(ascending=False)
percent = (df2.isnull().sum()/df2.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
Dataframe_missing = pd.DataFrame(missing_data)
Dataframe_missing.style.set_caption("Complete dataset")

In [ ]:
# Drop irrelevant columns
df3 = df2.drop(['SAON','Locality'],axis = 1)

# Drop rest of missing values
df3 = df3.dropna(subset = ['Street', 'PAON','Postcode'] , axis = 0)
df3

In [ ]:
total_02 = df3.isnull().sum().sort_values(ascending=False)
percent_02= (df3.isnull().sum()/df3.isnull().count()).sort_values(ascending=False)
missing_data_02 = pd.concat([total_02, percent_02], axis=1, keys=['Total', 'Percent'])
Dataframe_missing_02 = pd.DataFrame(missing_data_02)
Dataframe_missing_02.style.set_caption("Complete dataset removed NA")

In [ ]:
# These values can be adjusted to the housing agents desire.
plt.figure(figsize = (20,10))
lq = df2["Price"].quantile(0.01)
uq = df2["Price"].quantile(0.99)
# print(lq)
# print(uq)
df_filtered = df2[(df2["Price"] < uq) & (df2["Price"] > lq)]
graph = sns.histplot(df_filtered, bins = 30,kde = True);
graph.set_title("Price distribution");
graph.set_xlabel('Price');
graph.set_ylabel('Freqency');
graph.ticklabel_format(useOffset=False);
plt.ticklabel_format(style='plain') # removes scientific notation
plt.xticks(rotation=45);

# The graph below showing a 99% distribution confidence interval of house prices.
# kernal density estimate

In [ ]:
res = stats.probplot(df3['Price'], plot=plt)

# This shows that that house prices are not normally distributed.
# Right skewed data (positive skew)

In [ ]:
sns.boxplot(x = df2['Price'] , y = df2['Property Type'])

In [ ]:
# Filtering out the outliers based on property type column
# Method: removing lower 1% of data and 1.5*IQR + q3 for upper tail.

In [ ]:
# Outliers removed for property type D
filt_D = df2['Property Type'] == 'D'
df_filtD = df2.loc[filt_D]
q1 = df_filtD["Price"].quantile(0.25)
q3 = df_filtD["Price"].quantile(0.75)
lq = df_filtD["Price"].quantile(0.01) # $30,000 and below 
iqr = q3 - q1
df_filt1_priceD = df_filtD[(df_filtD["Price"] < q3 + 1.5*iqr) & (df_filtD["Price"] > lq)]
df_filt1_priceD

In [ ]:
# Outliers removed for property type F
filt_F = df2['Property Type'] == 'F'
df_filtF = df2.loc[filt_F]
q1 = df_filtF["Price"].quantile(0.25)
q3 = df_filtF["Price"].quantile(0.75)
lq = df_filtF["Price"].quantile(0.01)
iqr = q3 - q1
df_filt1_priceF = df_filtF[(df_filtF["Price"] < q3 + 1.5*iqr) & (df_filtF["Price"] > lq)]
df_filt1_priceF

In [ ]:
# Outliers removed for property type O
filt_O = df2['Property Type'] == 'O'
df_filtO = df2.loc[filt_O]
q1 = df_filtO["Price"].quantile(0.25)
q3 = df_filtO["Price"].quantile(0.75)
lq = df_filtO["Price"].quantile(0.01)
iqr = q3 - q1
df_filt1_priceO = df_filtO[(df_filtO["Price"] < q3 + 1.5*iqr) & (df_filtO["Price"] > lq)]
df_filt1_priceO

In [ ]:
# Outliers removed for property type T
filt_T = df2['Property Type'] == 'T'
df_filtT = df2.loc[filt_T]
q1 = df_filtT["Price"].quantile(0.25)
q3 = df_filtT["Price"].quantile(0.75)
lq = df_filtT["Price"].quantile(0.01)
iqr = q3 - q1
df_filt1_priceT = df_filtT[(df_filtT["Price"] < q3 + 1.5*iqr) & (df_filtT["Price"] > lq)]
df_filt1_priceT

In [ ]:
# Outliers removed for property type S
filt_S = df2['Property Type'] == 'S'
df_filtS = df2.loc[filt_S]
q1 = df_filtS["Price"].quantile(0.25)
q3 = df_filtS["Price"].quantile(0.75)
lq = df_filtS["Price"].quantile(0.01)
iqr = q3 - q1
df_filt1_priceS = df_filtS[(df_filtS["Price"] < q3 + 1.5*iqr) & (df_filtS["Price"] > lq)]
df_filt1_priceS

In [ ]:
filtered_df_property_outliers = pd.concat([df_filt1_priceD, df_filt1_priceF,df_filt1_priceO,df_filt1_priceS,df_filt1_priceT], axis=0)
filtered_df_property_outliers

In [ ]:
filtered_df_property_outliers['Price'].describe()

In [ ]:
sns.boxplot(x = 'P')

In [ ]:
filtered_df_property_outliers["Year"] = pd.DatetimeIndex(filtered_df_property_outliers["Date of Transfer"]).year

In [ ]:
# Get the first part of the postcode
filtered_df_property_outliers['Postcode_01'] = filtered_df_property_outliers['Postcode'].str[:-3]
filtered_df_property_outliers

In [ ]:
filtered_df_property_outliers['Postcode_01'] = filtered_df_property_outliers['Postcode_01']

In [ ]:
filtered_df_property_outliers

In [ ]:
value_counts = filtered_df_property_outliers['Postcode_01'].value_counts()
value_counts.head()

In [ ]:
filtered_df_property_outliers_copy = filtered_df_property_outliers.copy()

In [ ]:
filtered_df_property_outliers_copy

In [ ]:
filtered_df_property_outliers_copy['Price'].describe()

In [ ]:
df_county = df3.groupby("County").agg(["mean"]).reset_index()

In [ ]:
df_county.columns = ["County", "Avg_Price"]

In [ ]:
df_county

Dataframe_county = pd.DataFrame(df_county)
Dataframe_county.style.set_caption("Average price by County")

In [ ]:
plt.figure(figsize=(30,20))
plt.figure(figsize=(30,20))
b = sns.barplot(data = df_county, x = "County", y = "Avg_Price",order= df_county.sort_values('Avg_Price',ascending = False).County);
b.axes.set_title("Average price by county",fontsize=50)
b.set_xlabel("County",fontsize=30)
b.set_ylabel("Average price",fontsize=30)
b.tick_params(labelsize=15)
plt.show()

In [ ]:
## sns.set_style("white")
sns.set_color_codes(palette="deep")
f,ax = plt.subplots(figsize=(14,10))

sns.distplot(df2['Price'], color="Blue" )
ax.set(ylabel = "Frequency")
ax.set(xlabel = "SalePrice")
ax.set(title = "SalePrice Distribution" )
sns.despine(trim=True, left=True)
plt.show()

In [ ]:
print("Skewness : %f" % df2['Price'].skew() )
print("Kurtosis : %f" % df2['Price'].kurt())

In [ ]:
df3['Date of Transfer'] = pd.to_datetime(df3['Date of Transfer'])
# Ensure that this column is a date-time object so that we can use this later for plotting

In [ ]:
df3["Year"] = pd.DatetimeIndex(df3["Date of Transfer"]).year

In [ ]:
dataframe_year = df3.groupby("Year").agg(["mean"]).reset_index()
dataframe_year

In [ ]:
dataframe_year.columns = ["Year", "Avg_Price"]
dataframe_year.head()

In [ ]:
plt.figure(figsize=(20,10))
plot01 = sns.barplot(data = dataframe_year, x = "Year", y = "Avg_Price")
plot01.axes.set_title("Average price by year",fontsize=30)
plot01.tick_params(labelsize= 12)
plot01.set_xlabel("Year",fontsize=20)
plot01.set_ylabel("Average price",fontsize=20)

In [ ]:
fig = plt.figure(figsize=(10,5))
plot02 = sns.countplot(x='Property Type', data=df3,order = df3['Property Type'].value_counts().index)
plot02.axes.set_title("Count plot of Property Type",fontsize=20)
plot02.set_xlabel("Property Type",fontsize=15)
plot02.set_ylabel("Frequency",fontsize=15)
plot02.tick_params(labelsize=15)
plt.ylabel('Frequency')

plt.show()

In [ ]:
fig = plt.figure(figsize=(10,5))
plot03 = sns.countplot(x='County', data=df3,order = df3['County'].value_counts().index)
plot03.axes.set_title("Count plot of county",fontsize=20)
plot03.set_xlabel("County",fontsize=15)
plot03.set_ylabel("Frequency",fontsize=15)
plot03.tick_params(labelsize=15)
plt.xticks(rotation=90)
plt.show()

In [ ]:
pd.options.mode.chained_assignment = None
df2['Date of Transfer'] = pd.to_datetime(df2['Date of Transfer'])

In [ ]:
df2

In [ ]:
df2['month'] = df2['Date of Transfer'].dt.month
df2['year'] = df2['Date of Transfer'].dt.year

In [ ]:
df2

In [ ]:
import matplotlib.ticker as mtick

grouped_df = df2.groupby(['County', 'year', 'month'])['Price'].mean().reset_index()

fig, ax = plt.subplots(figsize=(20, 10))

for county in grouped_df['County'].unique():
    county_data = grouped_df[grouped_df['County'] == county]
    ax.plot(county_data['year'] + (county_data['month'] - 1) / 12, county_data['Price'], label=county)

ax.legend()
ax.set_xlabel('Year')
ax.set_ylabel('Average House Price')
ax.set_title('Monthly Average House Prices')

# Format y-axis tick labels as regular numbers
fmt = '£{x:,.0f}'
tick = mtick.StrMethodFormatter(fmt)
ax.yaxis.set_major_formatter(tick)
ax.legend(bbox_to_anchor=(0.5, 1))

plt.show()

In [ ]:
df2['Price'].describe()

In [ ]:
lq = df2["Price"].quantile(0.01)
uq = df2["Price"].quantile(0.99)
# df_filtered03 = df2[(df2["Price"] < 607500) & (df2["Price"] > lq)]
df_filtered03 = df2[(df2["Price"] < 607500) & (df2["Price"] > lq)]

In [ ]:
print(lq)
print(uq)

In [ ]:
df_filtered03['Price'].describe()

In [ ]:
df_filtered03

In [ ]:
sns.boxplot(data = df2 , x = 'Price')

In [ ]:
ax = sns.boxplot(data = df2, x = np.log(df2['Price']))
ax

In [ ]:
# Calculate summary statistics
print("Summary Statistics:")
print("Mean: {:.2f}".format(np.mean(np.log(df2["Price"]))))
print("Median: {:.2f}".format(np.median(np.log(df2["Price"]))))
print("Minimum: {:.2f}".format(np.min(np.log(df2["Price"]))))
print("Maximum: {:.2f}".format(np.max(np.log(df2["Price"]))))
print("25th percentile: {:.2f}".format(np.percentile(np.log(df2["Price"]), 25)))
print("75th percentile: {:.2f}".format(np.percentile(np.log(df2["Price"]), 75)))

In [ ]:
lower = 10.72
higher = 13.66

In [ ]:
df_transformed = df2.copy()
df_transformed['Price'] = np.log(df2['Price'])
df_transformed_mean = df_transformed['Price'].mean()
df_transformed_median = df_transformed['Price'].median()

In [ ]:
price_outliers_below = df_transformed.loc[df_transformed['Price'] < lower]
price_outliers_abow = df_transformed.loc[df_transformed['Price'] > higher]

print(price_outliers_below['Price'].count(), "entries having 'Price' value lower than ", lower)
print(price_outliers_abow['Price'].count(), "entries having 'Price' value greater than", higher)

In [ ]:
# total data removed  = 219,708 / 3681940 * 100 = 5.97%

df_transformed["Price"] = df_transformed["Price"].apply(lambda x: lower if x < lower else x)
df_transformed["Price"] = df_transformed["Price"].fillna(df_transformed_median)

df_transformed["Price"] = df_transformed["Price"].apply(lambda x: higher if x > higher else x)
df_transformed["Price"] = df_transformed["Price"].fillna(df_transformed_median)

price_outliers_below = df_transformed.loc[df_transformed['Price'] < lower]
price_outliers_above = df_transformed.loc[df_transformed['Price'] > higher]

print(price_outliers_below['Price'].count(), "entries having 'Price' value lower than ", lower)
print(price_outliers_above['Price'].count(), "entries having 'Price' value greater than ", higher)

In [ ]:
sns.boxplot(data = df_transformed, x = 'Price');

In [ ]:
df_transformed

In [ ]:
df_transformed.columns

In [ ]:
df_transformed = df_transformed.drop(['Locality','PPD Category Type','Record Status - monthly file only','Street','SAON','PAON','Postcode'] ,axis = 1)

In [ ]:
df_transformed

# NEED THIS SECTION FOR CREATING A NEW DATAFRAME WITH OUTLIERS REMOVED.

In [ ]:
df_transformed_model = df_transformed.copy()

In [ ]:
df_transformed['Town/City'] = df_transformed ['Town/City'].factorize()[0].astype('float32')
df_transformed['Old/New'] = df_transformed ['Old/New'].factorize()[0].astype('float32')
df_transformed['County'] = df_transformed ['County'].factorize()[0].astype('float32')
df_transformed['Duration'] = df_transformed ['Duration'].factorize()[0].astype('float32')
df_transformed['District'] = df_transformed ['District'].factorize()[0].astype('float32')
df_encoded1 = pd.get_dummies(df_transformed, columns = ["Property Type"], prefix = ["Property_Type_is_"])

In [ ]:
df_encoded1

In [ ]:
plt.figure(figsize=(10, 10))
sns.heatmap(df_encoded1[df_encoded1.corr().index].corr(), annot = True, cmap = 'RdYlGn')
plt.show()

From the heatmap above reveals that year is strongly correlated to the housing price which comes to no surprise. There also seems to be some correlation between duration and property type with respect to price. Also notice from the table below that old/new of the house, that median value is very similar and suggest weak correlation to price. Also supported by the heatmap showing close to 0 correlation.

In [ ]:
filtered_df_property_outliers.groupby('Old/New')['Price'].describe()

# Mutual Information score

To decide which variables to include in our model, mutual information score was used to assess whether a feature was plausible to be included in a machine learning model.

In [ ]:
X = df2.copy().drop('Date of Transfer' , axis = 1)[:100000]
y = X.pop("Price")[:100000]

# Label encoding for categoricals
for colname in X.select_dtypes("object"):
    X[colname], _ = X[colname].factorize()

# All discrete features should now have integer dtypes (double-check this before using MI!)
discrete_features = X.dtypes == int

In [ ]:
discrete_features

In [ ]:
%%time
from sklearn.feature_selection import mutual_info_regression

def make_mi_scores(X, y, discrete_features):
    mi_scores = mutual_info_regression(X, y, discrete_features=discrete_features)
    mi_scores = pd.Series(mi_scores, name="MI Scores", index=X.columns)
    mi_scores = mi_scores.sort_values(ascending=False)
    return mi_scores

mi_scores = make_mi_scores(X, y, discrete_features)
mi_scores  # show a few features with their MI scores

In [ ]:
%%time
def plot_mi_scores(scores):
    scores = scores.sort_values(ascending=True)
    width = np.arange(len(scores))
    ticks = list(scores.index)
    plt.barh(width, scores)
    plt.yticks(width, ticks)
    plt.title("Mutual Information Scores")
    plt.grid()

plt.figure(dpi=100, figsize=(8, 5))
plot_mi_scores(mi_scores)

We can see that location of the house indicates a large reduction in uncertainty in the housing price. Now since postcode, street and locality are all related to each other, we have decided to just include postcode as our region of reference for the property. We also filtered out redundant features such as 'Old/New' and 'County', which have low MI scores and are uninformative in explaining variance in housing prices. 

Our model will include the features: 'Property Type', 'Duration', 'District', 'Year', and 'Postcode'.

In [ ]:
filtered_df_property_outliers_copy['District'].nunique()

In [ ]:
filtered_df_property_outliers_copy['Postcode_01'].nunique()

In [ ]:
df2['Postcode'].nunique()

In [ ]:
filtered_df_property_outliers_copy['Postcode_01'].value_counts()

To prevent overfitting, we dropped postcodes that were recorded less than 100 times, leaving us with 347 postcodes for our model.

In [ ]:
threshold = 100

# Filter out Postcode_01 based on frequency threshold
counts = filtered_df_property_outliers_copy['Postcode_01'].value_counts()
keep = counts[counts >= threshold].index
filtered_df_property_outliers_copy = filtered_df_property_outliers_copy.loc[filtered_df_property_outliers_copy['Postcode_01'].isin(keep)]
filtered_df_property_outliers_copy['Postcode_01'].nunique()

In [ ]:
filtered_df_property_outliers_copy

# Modelling

In [ ]:
import math
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_transformer 
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import make_pipeline 
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import OrdinalEncoder
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import r2_score

In [ ]:
filtered_df_property_outliers_copy

In [ ]:
# MODEL 1 

X = filtered_df_property_outliers_copy[['Property Type','Duration','District','Year','Postcode_01']]
y = filtered_df_property_outliers_copy[['Price']] # target variable

column_trans = make_column_transformer(
                (OneHotEncoder(handle_unknown = 'ignore'), ['Duration','District','Postcode_01']),
                (OrdinalEncoder(), ['Property Type','Year']),
                remainder = 'drop')

# We set handle_unknown='ignore' to avoid errors when the validation data contains
# classes that aren't represented in the training data

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
decicion = DecisionTreeRegressor()
random = RandomForestRegressor()
linear = LinearRegression()

In [ ]:
# Construct some pipelines

pipe_lr = make_pipeline(column_trans,linear)
pipe_rf = make_pipeline(column_trans,random)
pipe_dt = make_pipeline(column_trans,decicion)

In [ ]:
%%time
# DECISION TREE 

pipe_dt.fit(X_train,y_train.values.ravel())
predictions_dt = pipe_dt.predict(X_test)
print(sqrt(mean_squared_error(y_test, predictions_dt))) # Root mean square error

In [ ]:
# LINEAR REGRESSION 
pipe_lr.fit(X_train,y_train.values.ravel())
predictions_lr = pipe_lr.predict(X_test)
print(sqrt(mean_squared_error((y_test),(predictions_lr))))


# The regression has five key assumptions:
# Linear relationship.
# Multivariate normality.
# No or little multicollinearity.
# No auto-correlation.
# Homoscedasticity

In [ ]:
# R-squared value of the linear model
r2_score(y_test, predictions_lr, force_finite=False)

In [ ]:
import statsmodels.api as sm

fig = plt.figure(figsize = (20,10))

# stats.probplot(predictions_lr)

residuals = predictions_lr - y_test.to_numpy().reshape(len(y_test),)

sm.qqplot(residuals,fit=True,line='45',dist=stats.norm)

plt.title("No transformation")

plt.show()

In [ ]:
# logged price
import statsmodels.api as sm


fig = plt.figure(figsize = (20,10))

# stats.probplot(predictions_lr)

risiduals = predictions_lr - y_test.to_numpy().reshape(len(y_test),)

sm.qqplot(risiduals,fit=True,line='45',dist=stats.norm)

plt.title("log transformation")

plt.show()

We logged the response variable price but the plot reveals the residuals are still far from being normal. This violates the assumption that the residuals are normally distributed.

In [ ]:
# Lets see a histogram of the residuals

residuals = predictions_lr[:100000] - y_test.to_numpy()[:100000].reshape(100000,)
plt.hist(residuals, bins=30)
plt.title('Histogram of Residuals')
plt.xlabel('Residuals')
plt.ylabel('Frequency')
plt.show()

In [ ]:
fig, (ax1, ax2) = plt.subplots(nrows=1, ncols=2 , figsize=(16, 6))

residuals = predictions_lr[:500] - y_test.to_numpy()[:500].reshape(500,)

# Lets see a histogram of the residuals
ax1.hist(residuals)
ax1.set_xlabel('Residuals')
ax1.set_ylabel('Frequency')
ax1.set_title('Histogram of Residuals')

# Plot the residuals against the fitted values
ax2.scatter(predictions_lr[:500], residuals)
ax2.set_xlabel('Fitted values')
ax2.set_ylabel('Residuals')
ax2.set_title('Residuals against the fitted values')
ax2.axhline(y=0, linestyle='--', color='r')

# Calculate the slope and intercept of the line of best fit
slope, intercept = np.polyfit(predictions_lr[:500], residuals, 1)

# Plot the line of best fit
plt.plot(predictions_lr[:500], slope * predictions_lr[:500] + intercept, color='g')


fig.set_size_inches(20, 6)

# Display the figure
plt.subplots_adjust(wspace=0.5)
plt.show()

Above figure shows a residual plot of the residuals against the fitted values. The purpose of the plot is to check if the assumption of heteroscedasticity is satisfied in the linear model. Clearly it shows a ‘right-opening megaphone’ residuals plot implying that the variance is not constant between observations. We can observe that the vertical scatter increases as the response variable (price) increases. The same conclusion is reached on the plot of the left. The violation of this assumption also means that the errors are not normally distributed. To address this issue, we can attempt to do a log transformation of the response variable to stabilise the variance and achieve heteroscedasticity.

Also, a line of best fit is fitted onto the residuals plot (shown in green) in figure x. The good news is that the mean of the residuals is 0 implying that the model is not consistently overestimating or underestimating the true value.

In [ ]:
slope, intercept, r_value, p_value, std_err = stats.linregress(predictions_lr[:500], y_test.to_numpy()[:500].reshape(500,))

# Create a scatter plot of the data
plt.scatter(predictions_lr[:500],y_test[:500])

# Add the regression line to the plot
plt.plot(predictions_lr[:500], intercept + slope*predictions_lr[:500], 'r', label='Regression Line')

# Add labels and a legend to the plot
plt.ylabel('Predictions')
plt.xlabel('Actual')
plt.title('Predicted vs actual')

# Set x-axis format to plain decimal notation
plt.ticklabel_format(useOffset=False, style='plain')

plt.legend()

# Show the plot
plt.show()

# Hyperparameter tuning for Decison tree

Due to a coding error that could not be solved, i have had change 'Property Type' to be one-hot encoded instead.

In [ ]:
# MODEL

X = filtered_df_property_outliers_copy[['Property Type','Duration','District','Year','Postcode_01']]
y = filtered_df_property_outliers_copy[['Price']] # target variable

column_trans = make_column_transformer(
                (OneHotEncoder(handle_unknown = 'ignore'), ['Duration','District','Property Type','Postcode_01']),
                (OrdinalEncoder(), ['Year']),
                remainder = 'drop')

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

decicion = DecisionTreeRegressor()

pipe_dt = make_pipeline(column_trans,decicion)


# I HAVE MOVED PROPERTY TYPE FROM ORDINAL ENCODING TO ONEHOTENCODING TO DEAL WITH MISSING VALUES IN THE TEST SET.

# Get training and test scores, see chatgbt

In [ ]:
# AFTER HYPERPARAMTER TUNING
pipe_dt.fit(X_train,y_train.values.ravel())
predictions_dt = pipe_dt.predict(X_test)
print(sqrt(mean_squared_error(y_test, predictions_dt)))

In [ ]:
# R-squared value of the decison model (after tuning)
r2_score(y_test, predictions_dt, force_finite=False)

# Model Evaluation

In [ ]:
# BEFORE
pipe_dt.fit(X_train,y_train.values.ravel())
predictions_dt = pipe_dt.predict(X_test)
print(sqrt(mean_squared_error(y_test, predictions_dt)))

In [ ]:
# R-squared value of the decison model (before tuning)
r2_score(y_test, predictions_dt, force_finite=False)

In [ ]:
# BEFORE HYPERPARAMETER TUNIN
# Compute the training accuracy
training_accuracy = pipe_dt.score(X_train, y_train)
print('Training accuracy:', training_accuracy)

# Compute the testing accuracy
testing_accuracy = pipe_dt.score(X_test, y_test)
print('Testing accuracy:', testing_accuracy)

In [ ]:
# AFTER HYPERPARAMTER TUNING

# Compute the training accuracy
training_accuracy = pipe_dt.score(X_train, y_train)
print('Training accuracy:', training_accuracy)

# Compute the testing accuracy
testing_accuracy = pipe_dt.score(X_test, y_test)
print('Testing accuracy:', testing_accuracy)

Now we see that after hyperparameter tuning and implementing the best parameters into the model, the training and testing accuracy have actually fallen from the default parameters. This is somewhat expected since there are billions of other possible combinations and only considering two hyperparameters to tune in the model.

According to the paper “Theoretical comparison between the Gini Index and Information Gain criteria” [1], the choice of the splitting criteria does not make much of a difference in the tree's performance. For this reason, the default method used, which is the “gini” impurity measure will be left untouched. 

[1] Laura Elena Raileanu and Kilian Stoffel, “Theoretical comparison between the Gini Index and Information Gain criteria” Annals of Mathematics and Artificial Intelligence 41: 77–93, 2004.

In [ ]:
%%time
# Decision tree 
import numpy as np 

max_depth = [3,5,7,9,11,13,15,17,19]

max_leaf_nodes = [60,70,80,90,100]

parameters = dict(
                decisiontreeregressor__max_leaf_nodes=max_leaf_nodes,
                decisiontreeregressor__max_depth=max_depth)

grid_search = GridSearchCV(pipe_dt, parameters, cv=5, scoring='neg_mean_squared_error')

grid_search.fit(X,y)

grid_search.best_estimator_.get_params()

The above code evaluates all 9x5 = 45 combinations of max_depth and max_leaf_nodes and it will train each model five times since we are using a five-fold cross validation. In other words, there will be 45x5 rounds of training! 

The search becomes computationally costly as the number of combinations increase. For very large search space, we recommend using RandomizedSearchCV which instead of trying out all combinations, it evaluates a given number of random combinations by selecting a random value for each hyperparameter at every iteration (page 81).

In [ ]:
pipe_dt.get_params().keys()